
body {
	width: 800%;
	max-width: 650px; 
  margin: auto;
}

head {
	width: 800%;
	max-width: 650px;
  margin: auto;
	width: 500%;
	max-width: 500px;
}

button { margin-top: 0.5cm; margin-bottom: 0.5cm; background-color: black;	color: whitesmoke;text-align: center;	text-decoration: none;	font-size: 1em;	display: inline-block;	width: 20%; /* to test the test-align property */}

.justify-three {
	text-align: justify;
	margin-top: 3cm;
  margin-bottom: 3cm;
	font-family: courier;
	width: 700%;
	max-width: 600px; /* or whatever width you want */
}

.center-three {
	position: relative;
	text-align: center;
	margin-top: 3cm;
  margin-bottom: 1cm;
	font-family: courier;
	width: 700%;
	max-width: 600px; /* or whatever width you want */
	height: 150px;
}


.button_center  {
	text-align: center;
	margin-top: 0cm;
  margin-bottom: 0.5cm;
	font-family: courier;
	width: 700%;
	max-width: 600px; /* or whatever width you want */
}
